<div class="container">
  <div align="middle">
    <img class="img-fluid" src="assets/images/barista.jpg" alt="">
  </div>
  <div class="row margin-bottom">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align="middle">{{allasajanlat.megnevezes}}</h1>

      <h3>Leírás</h3>
      <p class="justify">{{allasajanlat.leiras}}</p>

      <h3>Elvárt végzettségek</h3>
      <p>{{allasajanlat.vegzettseg}}</p>

      <h3>A munkáltató adatai:</h3>
      <p>{{allasajanlat.ajanlatFeladoja.cegNev}}</p>
      <p>{{allasajanlat.ajanlatFeladoja.szekhely}}</p>

      <button type="button" class="btn btn-primary btn-block" *ngIf="isLoggedIn" (click)="allaskeresoJelentkezik()">Jelentkezem!</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>