<div class="container">
  <h1>
    Új állásajánlat létrehozása
  </h1>

  <div class="form-group">
    <label for="jobName">Meghirdetendő munkakör megnevezése</label>
    <input type="text" class="form-control" id="jobName">
  </div>
  <div class="form-group">
    <label for="description">Munkakör leírása</label>
    <textarea class="form-control" rows="5" class="form-control" id="description"></textarea>
  </div>
  <div class="form-group">
    <label for="companyName">Feladatok felsorolása</label>
    <textarea class="form-control" rows="5" class="form-control" id="companyName"></textarea>
  </div>
  <div class="form-group">
    <label for="expectedSkill">Elvárt végzettségek</label>
    <input type="text" class="form-control" id="expectedSkill">
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Létrehozás</button>
  </div>
</div>