<div class="container">
  <div class="col-sm-12">

    <div class="bs-calltoaction bs-calltoaction-primary">
      <div class="row">
        <div class="col-md-9 cta-contents">
          <h1 class="cta-title">Állásajánlat</h1>
          <div class="cta-desc">
            <p>Munkakör</p>
            <p>Fizetés</p>
            <p>Település</p>
          </div>
        </div>
        <div class="col-md-3 cta-button">
          <a class="btn btn-lg btn-block btn-primary" [routerLink]="['/joboffer']">Megnyitás</a>
        </div>
      </div>
    </div>

    <div class="bs-calltoaction bs-calltoaction-primary">
      <div class="row">
        <div class="col-md-9 cta-contents">
          <h1 class="cta-title">Állásajánlat</h1>
          <div class="cta-desc">
            <p>Munkakör</p>
            <p>Fizetés</p>
            <p>Település</p>
          </div>
        </div>
        <div class="col-md-3 cta-button">
          <a class="btn btn-lg btn-block btn-primary" [routerLink]="['/joboffer']">Megnyitás</a>
        </div>
      </div>
    </div>

  </div>
</div>