<div class="container">
  <div class="col-sm-12">

    <div *ngFor="let ajanlat of allasajanlatok">
      <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="row">
          <div class="col-md-9 cta-contents">
            <h1 class="cta-title">{{ ajanlat.megnevezes }}</h1>
            <div class="cta-desc">
              <p *ngIf="ajanlat.ajanlatFeladoja">Feladó: {{ ajanlat.ajanlatFeladoja.cegNev }}</p>
              <p>Elvárt végzettség(ek): {{ ajanlat.vegzettseg }}</p>
            </div>
          </div>
          <div class="col-md-3 cta-button">
            <a class="btn btn-lg btn-block btn-primary" [routerLink]="['/allasajanlat']">Megnyitás</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>