<div class="container">
  <h1>Profil Regisztrálása</h1>
  <form>
    <!-- User -->
    <div class="form-check">
      <input class="form-check-input" type="radio" name="profileType" id="profileType1" [value]="0" [(ngModel)]="profileType" checked>
      <label class="form-check-label" for="profileType1">
        Állást kereső
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="profileType" id="profileType2" [value]="1" [(ngModel)]="profileType">
      <label class="form-check-label" for="profileType2">
        Állást ajánló
      </label>
    </div>
    <br>

    <!-- global -->
    <div class="form-group">
      <label for="felhasznalonev">Felhasználónév</label>
      <input type="text" class="form-control" id="felhasznalonev" name="felhasznalonev" [(ngModel)]="felhasznalo.felhasznalonev">
    </div>
    <div class="form-group">
      <label for="jelszo">Jelszó</label>
      <input type="password" class="form-control" id="jelszo" name="jelszo" [(ngModel)]="felhasznalo.jelszo">
    </div>
    <!--  -->

    <!-- allaskereso -->
    <fieldset *ngIf="profileType == 0">
      <div class="form-group">
        <label for="vezeteknev">Vezetéknév</label>
        <input type="text" class="form-control" id="vezeteknev" name="vezeteknev" [(ngModel)]="allaskereso.vezeteknev">
      </div>
      <div class="form-group">
        <label for="keresztnev">Keresztnév</label>
        <input type="text" class="form-control" id="keresztnev" name="keresztnev" [(ngModel)]="allaskereso.keresztnev">
      </div>
    </fieldset>
    <!--  -->

    <!-- munkaltato -->
    <fieldset *ngIf="profileType == 1">
      <div class="form-group">
        <label for="cegNev">Cégnév</label>
        <input type="text" class="form-control" name="cegNev" id="cegNev" [(ngModel)]="munkaltato.cegNev">
      </div>
    </fieldset>

    <!-- global -->
    <div class="form-group">
      <label for="email">E-mail cím</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="felhasznalo.email">
    </div>
    <!--  -->

    <!-- allaskereso -->
    <fieldset *ngIf="profileType == 0">
      <div class="form-group">
        <label for="elerhetoseg">Elérhetőség</label>
        <input type="text" class="form-control" id="elerhetoseg" name="elerhetoseg" [(ngModel)]="allaskereso.elerhetoseg">
      </div>
    </fieldset>

    <!-- munkaltato -->
    <fieldset *ngIf="profileType == 1">
      <div class="form-group">
        <label for="cegLeiras">Cégleírás</label>
        <textarea rows="4" cols="50" class="form-control" name="cegLeiras" id="cegLeiras" [(ngModel)]="munkaltato.cegLeiras"></textarea>
      </div>
      <hr>
      <h4>Székhely</h4>
      <div class="form-group">
        <label for="szekhelyCim">Megye</label>
        <select class="custom-select mr-sm-2" id="county" name="county" [(ngModel)]="szekhely.megye">
          <option value="1">Bács-Kiskun</option>
          <option value="2">Baranya</option>
          <option value="3">Békés</option>
          <option value="4">Borsod-Abaúj-Zemplén</option>
          <option value="5">Csongrád</option>
          <option value="6">Fejér</option>
          <option value="7">Győr-Moson-Sopron</option>
          <option value="8">Hajdú-Bihar</option>
          <option value="9">Heves</option>
          <option value="10">Jász-Nagykun-Szolnok</option>
          <option value="11">Komárom-Esztergom </option>
          <option value="12">Nógrád</option>
          <option value="13">Pest</option>
          <option value="14">Somogy</option>
          <option value="15">Szabolcs-Szatmár-Bereg</option>
          <option value="16">Tolna</option>
          <option value="17">Vas</option>
          <option value="18">Veszprém</option>
          <option value="19">Zala</option>
        </select>
      </div>
      <div class="form-group">
        <label for="szekhelyCim">Cím</label>
        <input type="text" class="form-control" id="szekhelyCim" name="szekhelyCim" [(ngModel)]="szekhely.cim">
      </div>
    </fieldset>

    <button *ngIf="profileType == 0" class="btn btn-outline-primary" (click)="open(content)">Önéletrajt kitöltése</button>
    <button (click)="submitForm()" class="btn btn-primary">Regisztráció</button>
  </form>
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="!errorMessage">Hiba történt a regisztráció során!</ngb-alert>
  <ngb-alert *ngIf="successMessage" type="success" (close)="!successMessage">Sikeres mentés!</ngb-alert>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Önéletrajz adatok megadása</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <div class="form-group">
      <label for="nyelvek">Beszélt nyelvek</label>
      <select class="custom-select mr-sm-2" id="nyelvek" [(ngModel)]="oneletrajz.nyelv">
        <option selected value="Angol">Angol</option>
        <option value="Magyar">Magyar</option>
        <option value="Német">Német</option>
      </select>
    </div>
    <div class="form-group">
      <label for="contact">Bemutatkozás/ rövid leírás (max 2000 karakter)</label>
      <textarea rows="4" cols="50" maxlength="2000" class="form-control" id="companyDescription" [(ngModel)]="oneletrajz.leiras"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Mentés</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Mégsem</button>
  </div>
</ng-template>